body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.chat {
  background: black;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.chat-input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin-top: 5px
}

.message {
  color: white
}

.line {
  margin: 5px 5px;
}
